.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 3px;
    background-color: pink;

}

.container p {
    font-size: 20px;
}

a {
    font-size: 30px;
}
.container{
    border: 2px solid black;
}